body {
    background-image: url(https://cdn.wallpapersafari.com/94/31/6egNSa.jpg);
}
li{
  font-weight: 500;
  color: white;
}
p{
  font-weight: 500;
  color:white;
}
#header{
  color: black;
}
#mthood {
  margin: 15px;
  border: 5px solid white;
  padding: 12px;
  float:right;
}
.places{
  color: red;
}
.hobbie{
  padding: 10px;
}
.panel-title{
  text-align: center;
}

.panel-transparent {
    background: none;
    border: #cdcdcd medium solid;
}
.panel-body{
  margin-top:10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2);
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2);
}
